# Claude Code
.claude/
CLAUDE.local.md

# Flutter/Dart
*.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.pub/
pubspec.lock

# IDE
.idea/
*.iml
.vscode/

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# Generated
*.g.dart
*.freezed.dart
